<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <style media="screen">
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
    }

    .jumbotron h1 {
      text-align: center;
    }

  </style>

</head>

<body>

  {% include "main/navbar.html" %}
  <br><br>
  <div class="jumbotron" style="margin-bottom:0px;">
    <h1 class="display-4">Привет!</h1>
    <p class="lead">Давай начнем сейчас?</p>
    <hr class="my-4">
    <p>Тебе нужно войти или зарегистрироваться.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="partnersignup" role="button">Зарегистрироваться</a>
      <a class="btn btn-primary btn-lg" href="partnerlogin" role="button">Войти</a>
    </p>
    <br><br><br><br>
  </div>
  {% include "main/footer.html" %}
</body>

</html>
